#title {
    color: white;
    text-align: left;
}

body {
    font-family: "Times New Roman", serif;
}

p {
    color: #8f8f8f;
}
.colored-section {
    background-color: #ff4c68;
}
.white-section {
    background-color: #fff;
}
.big-head {
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.navbar-brand {
    color: white;
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.image {
    width: 60%;
    transform: rotate(30deg);
    right: 30%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68
}

#testimonials {
    text-align: center;
    background-color: #ff4c68;
}

.testimage {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .image {
        transform: rotate(0);
    }

}

#cta {
    background-color: #ff4c68;
    text-align: center;
}

.cta-head {
    font-size: 3.5rem;
    line-height: 1.5;
}

.download-button {
    margin: 10px 10px;
}

#footer {
    text-align: center;
}

.social-icon {
    margin: 10px 20px;
}

.testimonial-text {
    font-size: 3rem;
}

.pricing-text {
    font-size: 3rem;
}

.feature-title {
    font-size: 1.5rem;
}